<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ATAGBANK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{personal/css/style.css}">
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" style="background: black; border-top: 2px black solid">
        <div class="p-4 pt-5">
            <a href="#" class="img logo rounded-0 mb-5"
               th:style="'background-image:url(' + @{/personal/images/admin.jpg} + ');  width:180px; height:180px'"></a>
            <ul th:replace="admin/customerManagement :: adminLeftSideBar"></ul>

            <div class="footer">
                <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i>
                    by <a
                        href="https://atag.com" target="_blank">atag-copr.com.vn</a>
                </p>
            </div>

        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light"
             style="position: absolute; top: 10px; width: 1300px; border: rgba(0,0,0,0.2) 1px solid;">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/}">Home</a>
                        </li>

                        <li class="nav-item">
                            <span class="nav-link">|</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><b>Admin</b></a>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link">|</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}"><b>Logout</b></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="profile" style="padding-top: 50px;">
            <h2 class="mb-4 color-black-opacity-5">Customer Detail</h2>
                <table class="table table-hover">
                    <tr>
                        <th>User Name</th>
                        <td th:text="${customer.username}"></td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td th:text="${customer.name}"></td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td th:text="${customer.address}"></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td th:text="${customer.email}"></td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <td th:text="${customer.phoneNumber}"></td>
                    </tr>

                    <tr>
                        <th>DOB</th>
                        <td th:text="${customer.dateOfBirth}"></td>
                    </tr>
                    <tr>
                        <th>Role</th>
                        <td th:text="${customer.role.role}"></td>
                    </tr>

                    <tr>
                        <th>Account Id</th>
                        <td th:text="${customer.account.id}"></td>
                    </tr>

                    <tr>
                        <th>Account Balance</th>
                        <td th:text="${customer.account.balance}"></td>
                    </tr>
                </table>
            </form>
            <a class="btn btn-outline-dark" th:href="@{/admin/customerManagement}" style="float: left">Back To Listing</a>
        </div>
    </div>
</div>


<script th:src="@{personal/js/jquery.min.js}"></script>
<script th:src="@{personal/js/popper.js}"></script>
<script th:src="@{personal/js/bootstrap.min.js}"></script>
<script th:src="@{personal/js/main.js}"></script>
</body>
</html>