<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/dashboard-header.html::dashboard-header">
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <nav th:replace="/layout/dashboard-left-side.html::dashboard-left-side">
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
        <nav th:replace="/layout/dashboard-navibar.html::dashboard-navibar">
        </nav>

        <!--        SHOW PROFILE-->
        <div id="profile" style="padding-top: 50px;">
            <h2 class="mb-4 color-black-opacity-5">Profile</h2>
            <th:block th:if="${message}">
                <span th:text="${message}" class="alert alert-info" role="alert"></span>
            </th:block>

            <form method="post" th:object="${currentUser}" th:action="@{/user/changePassword}">
                <table class="table table-hover">
                        <input type="hidden" th:field="*{id}">
                        <input type="hidden" th:field="*{role}">
                        <input type="hidden" th:field="*{enabled}" th:value="*{enabled}">
                        <input type="hidden" th:field="*{username}" th:value="*{username}">
                        <input type="hidden" th:field="*{name}" th:value="*{name}">
                        <input type="hidden" th:field="*{address}" th:value="*{address}">
                        <input type="hidden" th:field="*{phoneNumber}" th:value="*{phoneNumber}">
                        <input type="hidden" th:field="*{email}" th:value="*{email}">
                        <input type="hidden" th:field="*{dateOfBirth}" th:value="*{dateOfBirth}">

                    <tr>
                        <th>New Password</th>
                        <td style="width: 750px"><input style="width: 750px; border: 1px lightgray solid" type="password" th:field="*{password}">
                        <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
                    </tr>
                    <tr>
                        <th>Confirm Password</th>
                        <td style="width: 750px"><input style="width: 750px; border: 1px lightgray solid" type="password" th:field="*{confirmPassword}">
                        <td th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></td>
                        <td th:if="${validatedPass!=null}" th:text="${validatedPass}"></td>
                    </tr>
                    <tr>
                        <th><input type="submit" value="Change"></th>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

<div th:replace="/layout/dashboard-footer-js.html::dashboard-footer-js"></div>
</body>
</html>