<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" th:href="@{/login/css/style.css}">
</head>
<body>


<div class="container">
    <div class="card card-container">

        <div>
            <h2>Forgot Password</h2>
            <p>Enter your email address and we'll send you a link to reset your password</p>
            <form autocomplete="off" action="#" th:action="@{/forgotPassword}"
                  th:object="${passwordForgot}" method="post"
                  role="form">

                <div class="form-group">
                    <div>
                        <input type="text" th:field="*{email}"
                               placeholder="Email" class="form-control"/> <label
                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="validation-message"></label>
                    </div>

                    <div>
                        <th:block th:if="${message}">
                            <p th:text="${message}"></p>
                        </th:block>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin">Send Email</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

</body>
</html>