<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" th:href="@{/login/css/style.css}">
</head>
<body>
<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <a class="btn btn-outline-dark" th:href="@{/}">Back To Home Page</a>
        <p style="color:red;" th:if="${notFound != ''}" th:text="${notFound}"></p>
        <p style="color:red;" th:if="${deactivated != ''}" th:text="${deactivated}"></p>
        <form class="form-signin" th:object="${currentUser}" method="post" th:action="@{/login}">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" id="username" th:field="*{username}" class="form-control" placeholder="Username" required autofocus>
            <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Password" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form><!-- /form -->
        <a href="/forgotPassword" class="forgot-password">
            Forgot the password?
        </a><br>
        <a th:href="@{/reactivated}" class="forgot-password">
            Re-activated Account?
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->

<script th:src="@{/login/js/login.js}"></script>
</body>
</html>